= form_for @admin_inventory_item do |f|
  - if @admin_inventory_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_inventory_item.errors.count, "error")} prohibited this admin_inventory_item from being saved:"
      %ul
        - @admin_inventory_item.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :image
    = f.text_field :image
  .field
    = f.label :status
    = f.number_field :status
  .actions
    = f.submit 'Save'
