#{render partial:"admin/adminmenu"}

%br

%div{ :class => "panel panel-primary" }

	%div{ :class => "panel-heading" } View #{@admin_inventory_item.name}

	%div{ :class => "panel-body" }

		= render 'form'

		= link_to 'Show', @admin_inventory_item
		\|
		= link_to 'Back', admin_inventory_items_path
