#{render partial:"admin/adminmenu"}

%br

%div{ :class => "panel panel-primary" }

  %div{ :class => "panel-heading" } Listing Characters

  %div{ :class => "panel-body" }

    %table{ :class => "table" }
      %tr
        %th Name
        %th Image
        %th Status
        %th
        %th
        %th

      - @admin_inventory_items.each do |admin_inventory_item|
        %tr
          %td= admin_inventory_item.name
          %td= admin_inventory_item.image
          %td= admin_inventory_item.status
          %td= link_to 'Show', admin_inventory_item
          %td= link_to 'Edit', edit_admin_inventory_item_path(admin_inventory_item)
          %td= link_to 'Destroy', admin_inventory_item, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New Inventory item', new_admin_inventory_item_path
