#{render partial:"admin/adminmenu"}

%br

%div{ :class => "panel panel-primary" }

	%div{ :class => "panel-heading" } Create new Inventory item

	%div{ :class => "panel-body" }

		= render 'form'

		= link_to 'Back', admin_inventory_items_path
