#{render partial:"admin/adminmenu"}

%br

%div{ :class => "panel panel-primary" }

	%div{ :class => "panel-heading" } View #{@admin_inventory_item.name}

	%div{ :class => "panel-body" }
		%p#notice= notice
		%p
		%b Name:
		= @admin_inventory_item.name
		%p
		%b Image:
		= @admin_inventory_item.image
		%p
		%b Status:
		= @admin_inventory_item.status

		= link_to 'Edit', edit_admin_inventory_item_path(@admin_inventory_item)
		\|
		= link_to 'Back', admin_inventory_items_path
