%ul{ :class => "nav nav-tabs", :role => "tablist"}
	%li{class: params[:controller] == "admin" && 'active'}
		%a{ :href => "/admin" } Dashboard
	%li{class: params[:controller] == "admin/users" && 'active'}
		%a{ :href => "/admin/users" } Users
	%li{class: params[:controller] == "admin/player_characters" && 'active'}
		%a{ :href => "/admin/player_characters" } Characters
	%li{class: params[:controller] == "admin/recreationals_categories" && 'active'}
		%a{ :href => "/admin/recreationals_categories" } Recreational Items	
	%li{class: params[:controller] == "admin/inventory_items" && 'active'}
		%a{ :href => "/admin/inventory_items" } Inventory items

