= form_for @admin_recreational_resource do |f|
  - if @admin_recreational_resource.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_recreational_resource.errors.count, "error")} prohibited this admin_recreational_resource from being saved:"
      %ul
        - @admin_recreational_resource.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :cat_id
    = f.number_field :cat_id
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :per_hour
    = f.number_field :per_hour
  .field
    = f.label :price_money
    = f.number_field :price_money
  .field
    = f.label :price_non_free
    = f.number_field :price_non_free
  .actions
    = f.submit 'Save'
