#{render partial:"admin/adminmenu"}

%br

%div{ :class => "panel panel-primary" }

	%div{ :class => "panel-heading" } Edit #{@admin_recreational_resource.name}

	%div{ :class => "panel-body" }

		= render 'form'

		= link_to 'Show', @admin_recreational_resource
		\|
		= link_to 'Back', admin_recreational_resources_path
