#{render partial:"admin/adminmenu"}

%br

%div{ :class => "panel panel-primary" }

  %div{ :class => "panel-heading" } Recreational resources

  %div{ :class => "panel-body" }

    %table{ :class => "table" }
      %tr
        %th Cat
        %th Name
        %th Description
        %th Per hour
        %th Price money
        %th Price non free
        %th Character
        %th
        %th
        %th

      - @admin_recreational_resources.each do |admin_recreational_resource|
        %tr
          %td= @GetCatname.getReacteanalCategoryName admin_recreational_resource.cat_id 
          %td= admin_recreational_resource.name
          %td= admin_recreational_resource.description
          %td= admin_recreational_resource.per_hour
          %td= admin_recreational_resource.price_money
          %td= admin_recreational_resource.price_non_free
          %td= @GetCharname.GetPlayerCharacterName admin_recreational_resource.characters
          %td= link_to 'Show', admin_recreational_resource
          %td= link_to 'Edit', edit_admin_recreational_resource_path(admin_recreational_resource)
          %td= link_to 'Destroy', admin_recreational_resource, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New Recreational resource', new_admin_recreational_resource_path
