#{render partial:"admin/adminmenu"}

%br

%div{ :class => "panel panel-primary" }

  %div{ :class => "panel-heading" } Edit #{@admin_recreational_resource.name}

  %div{ :class => "panel-body" }
    %p
    %b Cat:
    = @admin_recreational_resource.cat_id
    %p
    %b Name:
    = @admin_recreational_resource.name
    %p
    %b Description:
    = @admin_recreational_resource.description
    %p
    %b Per hour:
    = @admin_recreational_resource.per_hour
    %p
    %b Price money:
    = @admin_recreational_resource.price_money
    %p
    %b Price non free:
    = @admin_recreational_resource.price_non_free

    = link_to 'Edit', edit_admin_recreational_resource_path(@admin_recreational_resource)
    \|
    = link_to 'Back', admin_recreational_resources_path
