
/%div #{@CurrentUser}

- if @CurrentUser
	%a{ :href => "/home/logout" } Logout

	asd
- else
	/ Login form
	%center
		%form{ :action => "/home/login", :method => "post" }

			%label{ :for => "username"} Username:
			%br
			%input{ :type => "text", :name => "username" }

			%br

			%label{ :for => "password"} Password:
			%br
			%input{ :type => "password", :name => "password" }

			%br 
			%br 

			%input{ :type => "submit", :value => "Login", :class => "btn btn-lg btn-primary btn-block", :style => "width: 150px" }
