/ Registration form
%center
	%form{ :action => "/home/create_user", :method => "post" }
		%label{ :for => "username" } Username:
		%br
		%input{ :type => "text", :name => "username" }

		%br

		%label{ :for => "password" } Password: 
		%br
		%input{ :type => "password", :name => "password" }

		%br

		%label{ :for => "password_comfr" } Password Comfrimation: 
		%br
		%input{ :type => "password", :name => "password_comfr" }

		%br

		%label{ :for => "email" } Email:
		%br
		%input{ :type => "text", :name => "email" }

		%br
		%br

		%input{ :type => "submit", :value => "Register", :class => "btn btn-lg btn-primary btn-block", :style => "width: 150px" }

