= form_for @admin_recreationals_category do |f|
  - if @admin_recreationals_category.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_recreationals_category.errors.count, "error")} prohibited this admin_recreationals_category from being saved:"
      %ul
        - @admin_recreationals_category.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :image
    = f.text_field :image
  .field
    = f.label :status
    = f.text_field :status
  .actions
    = f.submit 'Save'
