#{render partial:"admin/adminmenu"}

%br

%div{ :class => "panel panel-primary" }

	%div{ :class => "panel-heading" } Edit #{@admin_recreationals_category.name}

	%div{ :class => "panel-body" }

		= render 'form'

		= link_to 'Show', @admin_recreationals_category
		\|
		= link_to 'Back', admin_recreationals_categories_path
