#{render partial:"admin/adminmenu"}

%br

%div{ :class => "panel panel-primary" }

  %div{ :class => "panel-heading" } Recreational categories

  %div{ :class => "panel-body" }

    %table{ :class => "table" }
      %tr
        %th Name
        %th Description
        %th Image
        %th Status
        %th
        %th
        %th

      - @admin_recreationals_categories.each do |admin_recreationals_category|
        %tr
          %td= admin_recreationals_category.name
          %td= admin_recreationals_category.description
          %td= admin_recreationals_category.image
          %td= admin_recreationals_category.status
          %td= link_to 'Show', admin_recreationals_category
          %td= link_to 'Edit', edit_admin_recreationals_category_path(admin_recreationals_category)
          %td= link_to 'Destroy', admin_recreationals_category, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New Recreationals category', new_admin_recreationals_category_path

    | 

    = link_to "Administer Recreational resources", "/admin/recreational_resources"
