#{render partial:"admin/adminmenu"}

%br

%div{ :class => "panel panel-primary" }

	%div{ :class => "panel-heading" } Edit #{@admin_recreationals_category.name}

	%div{ :class => "panel-body" }
		%p#notice= notice
		%b Name:
		= @admin_recreationals_category.name
		%p
		%b Description:
		= @admin_recreationals_category.description
		%p
		%b Image:
		= @admin_recreationals_category.image
		%p
		%b Status:
		= @admin_recreationals_category.status

		= link_to 'Edit', edit_admin_recreationals_category_path(@admin_recreationals_category)
		\|
		= link_to 'Back', admin_recreationals_categories_path