= form_for @admin_player_character do |f|
  - if @admin_player_character.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_player_character.errors.count, "error")} prohibited this admin_player_character from being saved:"
      %ul
        - @admin_player_character.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :image
    = f.text_field :image
  .actions
    = f.submit 'Save'
