#{render partial:"admin/adminmenu"}

%br

%div{ :class => "panel panel-primary" }

	%div{ :class => "panel-heading" } View #{@admin_player_character.name}

	%div{ :class => "panel-body" }

		= render 'form'

		= link_to 'Show', @admin_player_character
		\|
		= link_to 'Back', admin_player_characters_path
