#{render partial:"admin/adminmenu"}

%br

%div{ :class => "panel panel-primary" }

  %div{ :class => "panel-heading" } Listing Characters

  %div{ :class => "panel-body" }

    %table{ :class => "table" }
      %tr
        %th Name
        %th Description
        %th Image
        %th
        %th
        %th

      - @admin_player_characters.each do |admin_player_character|
        %tr
          %td= admin_player_character.name
          %td= admin_player_character.description
          %td= admin_player_character.image
          %td= link_to 'Show', admin_player_character
          %td= link_to 'Edit', edit_admin_player_character_path(admin_player_character)
          %td= link_to 'Destroy', admin_player_character, :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New Player character', new_admin_player_character_path
