#{render partial:"admin/adminmenu"}

%br

%div{ :class => "panel panel-primary" }

	%div{ :class => "panel-heading" } Create new Character type

	%div{ :class => "panel-body" }

		= render 'form'

		= link_to 'Back', admin_player_characters_path
