#{render partial:"admin/adminmenu"}

%br

%div{ :class => "panel panel-primary" }

	%div{ :class => "panel-heading" } View #{@admin_player_character.name}

	%div{ :class => "panel-body" }
		%p#notice= notice
		%p
		%b Name:
		= @admin_player_character.name
		%p
		%b Description:
		= @admin_player_character.description
		%p
		%b Image:
		= @admin_player_character.image

		= link_to 'Edit', edit_admin_player_character_path(@admin_player_character)
		\|
		= link_to 'Back', admin_player_characters_path
