%h1 View all resource categories

- @cat.each do |cat|
	%h3 #{cat.name}
	%p #{cat.description}
	%a{ :href => "/resources/viewResource/#{cat.id}", :class => "btn btn-lg btn-primary btn-block" } View Resources
	%br