%h1 Your #{@cat.name}

- if !@CurrentUser.recreational_resources[@id].nil?
	- @CurrentUser.recreational_resources[@id].each do |key, value|
		- resource = Admin::RecreationalResource.find_by_id(key)
		%h3 #{resource.name}
		%p Quantity: #{value}
		%p Earning: #{((Time.now.to_i - @CurrentUser.restime[@id][key].to_i) / 3600) * resource.per_hour.to_i}

	%a{ :href => "/resources/collectMoney/#{@id}", :class => "btn btn-lg btn-primary btn-block" } Collect money
- else
	You have no items in this category


%h1 View #{@cat.name} resources

- if @resources.count == 0
	No resources have been added to this categorie yet.
- else
	- @resources.each do |res|
		%form{ :action => "/resources/buyResource", :method => "post" }
			%h3 #{res.name}
			%p #{res.description}
			%p Per/hour: #{res.per_hour}
			%p price: #{res.price_money}
			%p price with gems: #{res.price_non_free}
			%select{ :name => "quantity", :class => "form-control", :style => "width: 100px;" }
				%option{ :value => 1 } 1
				%option{ :value => 2 } 2
				%option{ :value => 3 } 3
				%option{ :value => 4 } 4
				%option{ :value => 5 } 5
				%option{ :value => 6 } 6
				%option{ :value => 7 } 7
				%option{ :value => 8 } 8
				%option{ :value => 9 } 9
			%br 
			%input{ :type => "hidden", :value => "#{res.id}", :name => "resource_id" }
			%input{ :name => "authenticity_token", :value => "#{form_authenticity_token}", :type => "hidden"}
			
			%input{ :type => "submit", :name => "money", :value => "Buy with money", :class => "btn btn-lg btn-default btn-block", :style => "width: 200px;" }

			%input{ :type => "submit", :name => "non_free", :value => "Buy with gems", :class => "btn btn-lg btn-primary btn-block", :style => "width: 200px; margin-top: 10px;" }
