%h1 View invenotry

%h2 My Gear

- @gear.each do |key, value|
	- if value == 0
		- text = "No item set yet."
	- else
		- item = @player.returnItemObjectsFromInventory value, @CurrentUser
		- text = "Level: #{item[value][:level]}, User id: #{item[value][:item_id]}"


	%p #{key} - #{text}

	- if key.to_s == "head_set"
		%div{ :style=>"width: 60px; height: 60px; border: 1px solid #000000;", :class => "drop gear_item" }
	- elsif key.to_s == "chest_set"
		%div{ :style=>"width: 60px; height: 60px; border: 1px solid #000000;", :class => "drop gear_item" }
	- elsif key.to_s == "leg_set"
		%div{ :style=>"width: 60px; height: 60px; border: 1px solid #000000;", :class => "drop gear_item" }
	- elsif key.to_s == "boots_set"
		%div{ :style=>"width: 60px; height: 60px; border: 1px solid #000000;", :class => "drop gear_item" }
	- elsif key.to_s == "weapon"
		%div{ :style=>"width: 60px; height: 60px; border: 1px solid #000000;", :class => "drop gear_item" }
	- elsif key.to_s == "device_1"
		%div{ :style=>"width: 60px; height: 60px; border: 1px solid #000000;", :class => "drop gear_item" }
	- elsif key.to_s == "device_2"
		%div{ :style=>"width: 60px; height: 60px; border: 1px solid #000000;", :class => "drop gear_item" }


%h2 My Inventory

%div{ :class => "inventory_box", :style => "width: 361px;" }
	- @inventory_blocks.times do |int|
		- full = ""
		- @CurrentUser.inventory[:page1].each do |key, value|
			- if int == 6
				%div{ :style => "clear: both;" }

			- if value[:location] == int+1
				- get_orginal_object = Admin::InventoryItem.find_by_id(value[:item_id].to_i)
				%img{ :src => get_orginal_object.image, :style => "position: absolute;", :class => "dragable", :item_id => "#{key}" }

		%div{ :class=> "inventory_b_#{int+1} drop", :style=> "width: 60px; height: 60px; float: left;", :box_id => "#{int+1}" }
			%div{ :style => "border: 1px solid #939393; width: 30px; height: 30px; float: left;" }
			%div{ :style => "border: 1px solid #939393; width: 30px; height: 30px; float: left;" }
			%div{ :style => "border: 1px solid #939393; width: 30px; height: 30px; float: left;" }
			%div{ :style => "border: 1px solid #939393; width: 30px; height: 30px; float: left;" }

	%div{ :style => "clear: both;" }

/%div{ :style => "width: 100px; height: 100px; border: 1px solid red;", :class => "drop" }
