#{render partial:"admin/adminmenu"}


%br

%div{ :class => "panel panel-primary" }
	%div{ :class => "panel-heading" } Edit player

	%div{ :class => "panel-body" }
		- @player.each do |f|
			%form{ :action => "", :method => "get" }

				.field
				%label{ :for => "Username" } Username
				%input{ :name => "username", :value => f.username }

				%br 

				.field
				%label{ :for => "password" } Password
				%input{ :name => "password", :value => "", :type => 'password' }

				%br

				.field
				%label{ :for => "email" } Email
				%input{ :name => "email", :value => f.email, :type => 'text' }

				%br


				%input{ :type => "submit", :value => "Submit" }

				%br
				%br

				= link_to 'Show', "/admin/users/#{@players.id}"

				= link_to 'Back', "/admin/users/"
