#{render partial:"admin/adminmenu"}

%br

%div{ :class => "panel panel-primary" }

  %div{ :class => "panel-heading" } Listing players

  %div{ :class => "panel-body" }

    %table{ :class => "table" }
      %tr
        %th Username
        %th Email
        %th Permisions
        %th
        %th
        %th

      - @players.each do |player|
        %tr
          %td= player.username
          %td= player.email

          - if player.permisions == 1
            %td User
          - else
            %td Administrator

          %td= link_to 'Show', "/admin/users/#{player.id}"
          %td= link_to 'Edit', "/admin/users/#{player.id}/edit"
          %td= link_to 'Destroy', "/admin/users/#{player.id}", :method => :delete, :data => { :confirm => 'Are you sure?' }

    %br

    = link_to 'New Player', "/admin/users/new"
