#{render partial:"admin/adminmenu"}


%br

%div{ :class => "panel panel-primary" }
	%div{ :class => "panel-heading" } New player

	%div{ :class => "panel-body" }
		%form{ :action => "", :method => "get" }

			.field
			%label{ :for => "Username" } Username
			%input{ :name => "username", :value => "" }

			%br 

			.field
			%label{ :for => "password" } Password
			%input{ :name => "password", :value => "", :type => 'password' }

			%br

			.field
			%label{ :for => "email" } Email
			%input{ :name => "email", :value => "", :type => 'text' }

			%br


			%input{ :type => "submit", :value => "Submit" }

			%br
			%br


			= link_to 'Back', "/admin/users/"
