#{render partial:"admin/adminmenu"}

%br

%div{ :class => "panel panel-primary" }

	%div{ :class => "panel-heading" } View #{@player.username}

	%div{ :class => "panel-body" }
		%p#notice= notice

		%p
		%b Username:
		= @player.username
		%p
		%b Password:
		= @player.password
		%p
		%b Email:
		= @player.email
		%p
		%b Session:
		= @player.session_id

		%br
		%br

		= link_to 'Edit', "/admin/users/#{@player.id}/edit"
		\|
		= link_to 'Back', "/admin/users/"
