%h1 Izvēlies savu Čarakteru

- @get_all_characters.each do |ch|
	%form{ :action => "/tutorial/compleate", :method => "post" }
		%h3 #{ch.name}
		%p #{ch.description}
		%p Price: #{ch.price}
		%input{ :name => "authenticity_token", :value => "#{form_authenticity_token}", :type => "hidden"}
		%input{ :type => "hidden", :name => "character_value", :value => ch.id }
		%input{ :type => "submit", :class => "btn btn-lg btn-primary btn-block", :value => "Select this character and Compleate »" }