<!DOCTYPE html>
<html>
<head>
  <title>Underblack</title>
  <%= stylesheet_link_tag "application", controller.controller_name %>
  <%= javascript_include_tag "application", controller.controller_name %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Underdark</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/">Login</a></li>
        <li><a href="/home/register">Register</a></li>
        <li><a href="/admin">Admin</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/inventory">Inventory</a></li>
      </ul>

      <% if @CurrentUser %>
        <%= render "layouts/loged_in" %>
      <% end %>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<center>
  <% if flash[:notice] %>
    <%= flash[:notice].html_safe %>
  <% end %>
</center>



<div class='content'>
  <%= yield %>
</div>
<br />
<br />

</body>
</html>


